:root{
/*CON ESTO SE CREAN variable CON COLORES DEFINIDOS O COSAS para usar **/
    --texto : rgba(255, 255, 255, 0.905);
    --input :#3A3B3C;
    --input-hover: #4B4D4E;
    --activo: #2D88FF;
    --gris-claro:#B8B388;
    --fondo-contenido:#232526;
}

body {
    padding-top: 70px;
}

.align-center {
    text-align: center;
}

.align-center * {
    width: 100%;
}

a{
    color: var(--texto);
    text-decoration: none;

}

.menuprincipal{

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 70px;
    background: linear-gradient(76.41deg, rgba(110, 110, 237, 0.84) -23.1%, rgba(153, 51, 255, 0.84) 43.41%, rgba(110, 110, 237, 0.84) 111.68%);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    transform: matrix(1, 0, 0, 1, 0, 0);
}



/*------------------Triángulo---------------------*/

.arrow-right {
    width: 0px; 
    height: 0px; 
    border-top: 305px solid transparent;
    border-bottom: 305px  solid transparent;
    position: absolute;
    border-right: 233px solid #B7A4F3;
    right: 0%;
   z-index: 8;
  }
/*------------------Menu---------------------*/

.logo{

font-size: 34px;
font-family: 'Nunito', sans-serif;
font-weight: 600;
}
nav.menuprincipal .menu >a, nav.menuprincipal .menu >form >a{
color: white;
margin: 18px;
font-weight: 600;
font-family: 'Nunito', sans-serif;
}


/*------------------Slider---------------------*/

/*------------------Quitar flechas---------------------*/
  .bx-controls-auto-item {
    display: none !important;
}

.bx-wrapper {
box-shadow: 0 0 0px #ccc !important;
}

/*------------------Boton slider---------------------*/

.customControl {
    width: 67px;
    height: 67px;
    background-color: rgba(217, 217, 217, 70);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    align-content: center;
}
/*------------------HEADER---------------------*/

nav{

    background: #1c1c1ce0;
}
/*----Nosotros------*/
.imagen-nosotros img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.h1 {
    text-decoration: underline;
    padding-top: .5em;
    padding-bottom: 1em;
}

.rel-top-70-px {
    position: relative;
    top: 70px;
}

.mar-bottom-70-px {
    margin-bottom: 70px;
}